//colors
$White: hsl(0, 0%, 100%);
$LightGrey: hsl(217, 12%, 63%);
$MediumGrey: hsl(216, 11%, 37%);
$DarkBlue: hsl(213, 19%, 18%);
$VeryDarkBlue: hsl(216, 12%, 8%);

//space
$line-margin: 1rem 0;
$line-padding: 1rem;

//borders
$main-radius: 20px;
$circle-radius: 50%;

//size
$main-font: 15px;
$full-width: 100%;
