@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
@import 'variables';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: $main-font;
    font-family: 'Overpass';
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    background-color: $VeryDarkBlue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    height: fit-content;
    background-color: $DarkBlue;
    border-radius: $main-radius;
    color: white;
    padding: 1.5rem;

}


.star_icon{
    background-color: $MediumGrey;
    width: fit-content;
    padding: $line-padding;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $circle-radius;
}

h1{
    margin: $line-margin;
}

p{
    color: $MediumGrey;
}

.score{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $line-margin;
    align-items: center;
    
}

.score span{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $MediumGrey;
    color: $LightGrey;
    border-radius: $circle-radius;
    cursor: pointer;
    
}

button{
    width: $full-width;
    color: white;
    border: none;
    border-radius: 2rem;
    background-color: hsl(25, 97%, 53%);
    padding: 0.7rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 3px;
}